<div class="container">
  <mat-form-field appearance="outline">
    <mat-label>Search GitHub Repositories</mat-label>
    <input matInput placeholder="e.g. Angular/Components ..." [(ngModel)]="inputValue" (ngModelChange)="search()">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <ng-container *ngIf="!isSearching && inputValue.length > 0 && (searchResult$ | async) as result">
  <h2>Results</h2>
    <ng-container *ngIf="result.total_count > 0; else noResult">
      <table mat-table [dataSource]="result.items" class="result-table mat-elevation-z0">
        <ng-container matColumnDef="Project Name">
          <th mat-header-cell *matHeaderCellDef>Project Name</th>
          <td mat-cell *matCellDef="let item" [routerLink]="['search', item.owner.login, item.name]">{{ item.full_name }}</td>
        </ng-container>

        <ng-container matColumnDef="Stars">
          <th mat-header-cell *matHeaderCellDef class="align-center">Stars</th>
          <td mat-cell *matCellDef="let item" [routerLink]="['search', item.owner.login, item.name]" class="align-center">{{ item.stargazers_count }}</td>
        </ng-container>

        <ng-container matColumnDef="Detail">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let item" [routerLink]="['search', item.owner.login, item.name]" class="align-right">
            <button mat-icon-button>
              <mat-icon>chevron_right</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;" class="hoverable"></tr>
      </table>
    </ng-container>
  </ng-container>
  <mat-spinner *ngIf="inputValue.length > 0 && isSearching" diameter="70" class="center-on-screen"></mat-spinner>
</div>

<ng-template #noResult>
  <p>No result for "{{ inputValue }}"</p>
</ng-template>
